<html>
  <head>
    {% if title %}
    <title>Cambridge Keydata Project: {{ title }}</title>
    {% else %}
    <title>Cambridge Keydata Project</title>
    {% endif %}




    <link rel="stylesheet" href="/static/magnific-popup.css">


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>


    <script src="https://d3js.org/d3.v5.js"></script>
<script>
    var d3v5 = window.d3;
    window.d3 = null;
</script>

<script src="https://d3js.org/d3.v4.js"></script>
<script>
    var d3v4 = window.d3;
    window.d3 = null;
</script>

<script src="https://d3js.org/d3.v3.js"></script>
<!-- <script>
    var d3v3 = window.d3;
    window.d3 = null;
</script> -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/progressbar.js"></script>
    <script type="text/javascript" src="/static/vector_math.js"></script>
    <script src="/static/jquery.magnific-popup.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="/static/style.css" />



    <script type="text/javascript" charset="utf-8">

      $(function() {
        $('.popup_about').magnificPopup({
          type: 'ajax',
          items: { src: '/about' },
          showCloseBtn: true,
          closeBtnInside: true
        });
      });

      /**
       * Load multiple JSON files.
       *
       * Example usage:
       *
       * jQuery.getMultipleJSON('file1.json', 'file2.json')
       *   .fail(function(jqxhr, textStatus, error){})
       *   .done(function(file1, file2){})
       * ;
       */
      jQuery.getMultipleJSON = function(){
        return jQuery.when.apply(jQuery, jQuery.map(arguments, function(jsonfile){
          return jQuery.getJSON(jsonfile);
        })).then(function(){
          var def = jQuery.Deferred();
          return def.resolve.apply(def, jQuery.map(arguments, function(response){
            return response[0];
          }));
        });
      };




    </script>

  </head>
  <body>
    <div id='progressbar'></div>
    <div id='header'>
      <div id='title'>Cambridge Keydata Project</div>
      <div id='subtitle'>Tools for computational semantics and conceptual history</div>

      <div id='nav'>
        <!-- <a href="#" class='popup_about'>About</a> |  -->
        <a href="/word">Analyze word</a> | <a href="#" onclick="get_corpus(\'COHA\')">Corpus</a> | <a href="https://docs.google.com/spreadsheets/d/1gH5pO3z-og2Pj3xYtZbB9U4uoaGDLN6hLgNtdHmFSMQ/edit?usp=sharing" target="_blank">Word Index</a> |
        <a href="https://drive.google.com/drive/folders/1-ME4axybNlHX3HGvlLhDZJY7j10AbGaM?usp=sharing" target="_blank">Documents</a> |
        <a href="/manifestos" target="_blank">Manifesto Project</a>
      </div>
    </div>

    <div id='content'>
      <div id='content_body'>
        {% block content %}{% endblock %}
      </div>
    </div>

    <div id='footer'>

    </div>
  </body>
</html>
