<input type ="hidden" id="spaces_height" value="600" name = "spaces_height"/>
<input type ="hidden" id="spaces_width" value="600" name="spaces_width" />
<input type ="hidden" id="points" value="movement" name = "points"/>


<style>

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

</style>


<center>
<div id="linegraph_spaces">

<!-- Create a div where the graph will take place -->

</div>

<script type="text/javascript" src="/static/linegraph_v3_spaces.js"></script>
