<script type="text/javascript">

	function round_to_precision(x, precision) {
    //var y = +x + (precision === undefined ? 0.5 : precision/2);
    //return y - (y % (precision === undefined ? 1 : +precision));
		//Parse the value as a float value
    val = parseFloat(x);
    //Format the value w/ the specified number
    //of decimal places and return it.
    return val.toFixed(precision);
}

function describe_word(word) {
	$('#corpus_desc').html('<h2><a href="#" class="popup_corpus_coha">Corpus description</a></h2><li>So far the corpus used is the <a href="#" class="popup_corpus_coha">Corpus of Historical American English (COHA)</a>.</li>');

	$(function() {
		$('.popup_corpus_coha').magnificPopup({
			type: 'ajax',
			items: { src: '/corpus_coha' },
			showCloseBtn: true,
			closeBtnInside: true
		});
	});

	function load_total_rank_data() {
		$.getJSON("/static/data/db/changes/_total_rank.json", function(data) {
			return data;
		});
	}
	//
	// jQuery.getMultipleJSON('file1.json', 'file2.json')
	//  *   .fail(function(jqxhr, textStatus, error){})
	//  *   .done(function(file1, file2){})

	var html="<h2>Word summary</h2>\n";
	// $.getJSON("/static/data/db/changes/"+word+".json", function(d) {

	jQuery.getMultipleJSON(
		"/static/data/db/changes/"+word+".json",
		"/static/data/db/changes/_total_rank.json",
		"/static/data/db/changes/_total_rank.1800-1849-vs-1850-1899.json",
		"/static/data/db/changes/_total_rank.1850-1899-vs-1900-1949.json",
		"/static/data/db/changes/_total_rank.1900-1949-vs-1950-1999.json"
	).done(function(d,total_ranked_data,period1_ranked_data,period2_ranked_data,period3_ranked_data){

		console.log(period1_ranked_data,period2_ranked_data,period3_ranked_data);

		// console.log(d);
		d2=total_ranked_data['ranked_list'];
		// console.log('d2',d2);
		var rank = Math.floor(d['overall']['sim_avg_rank']);
		var z = round_to_precision(d['overall']['sim_avg_z'] * -1,1);
		var length = d['overall']['num_words'];

		max_num_total = 100;

		var html_total = "";
		for (i = 0; i < max_num_total; i++) {
			html_total = html_total + "<li><a href='#' onclick='analyze_word(\""+d2[i]+"\")'>"+d2[i]+"</a></li>\n";
		}

		var html_total_period1 = "";
		d2=period1_ranked_data['ranked_list'];
		for (i = 0; i < max_num_total; i++) {
			html_total_period1 = html_total_period1 + "<li><a href='#' onclick='analyze_word(\""+d2[i]+"\")'>"+d2[i]+"</a></li>\n";
		}

		var html_total_period2 = "";
		d2=period2_ranked_data['ranked_list'];
		for (i = 0; i < max_num_total; i++) {
			html_total_period2 = html_total_period2 + "<li><a href='#' onclick='analyze_word(\""+d2[i]+"\")'>"+d2[i]+"</a></li>\n";
		}

		var html_total_period3 = "";
		d2=period3_ranked_data['ranked_list'];
		for (i = 0; i < max_num_total; i++) {
			html_total_period3 = html_total_period3 + "<li><a href='#' onclick='analyze_word(\""+d2[i]+"\")'>"+d2[i]+"</a></li>\n";
		}


		try {
			var rank_period1 = Math.floor(d['1800-1849-vs-1850-1899']['sim_avg_rank']);
			var z_period1 = round_to_precision(d['1800-1849-vs-1850-1899']['sim_avg_z'] * -1,1);
			var length_period1 = d['1800-1849-vs-1850-1899']['num_words'];
		} catch (e) {
			rank_period1 = undefined;
		}

		try {
			var rank_period2 = Math.floor(d['1850-1899-vs-1900-1949']['sim_avg_rank']);
			var z_period2 = round_to_precision(d['1850-1899-vs-1900-1949']['sim_avg_z'] * -1,1);
			var length_period2 = d['1850-1899-vs-1900-1949']['num_words'];
		} catch (e) {
			rank_period2 = undefined;
		}

		try {
			var rank_period3 = Math.floor(d['1900-1949-vs-1950-1999']['sim_avg_rank']);
			var z_period3 = round_to_precision(d['1900-1949-vs-1950-1999']['sim_avg_z'] * -1,1);
			var length_period3 = d['1900-1949-vs-1950-1999']['num_words'];
		} catch (e) {
			rank_period3 = undefined;
		}





		html = html + "<li>The degree of overall semantic change in <b>"+word+"</b> is ranked <a href='#' class = 'popup_rank_total'><b>"+rank+"</b> of "+length+" words</a> (z="+z+").</li>\n"

		if (rank_period1 != undefined) {
			html = html + "<li>From eC19 to lC19, this change is ranked <a href='#' class = 'popup_rank_period1'><b>"+rank_period1+"</b> of "+length_period1+"</a> (z="+z_period1+").</li>\n"
		}
		if (rank_period2 != undefined) {
			html = html + "<li>From lC19 to eC20, this change is ranked <a href='#' class = 'popup_rank_period2'><b>"+rank_period2+"</b> of "+length_period2+"</a> (z="+z_period2+").</li>\n"
		}
		if (rank_period3 != undefined) {
			html = html + "<li>From eC20 to lC20, this change is ranked <a href='#' class = 'popup_rank_period3'><b>"+rank_period3+"</b> of "+length_period3+"</a> (z="+z_period3+").</li>\n"
		}

		html = html;

		$('#data_view').html(html);

		$('.popup_rank_total').magnificPopup({
		  items: {
		      src: '<div class="popup-content"><h2>Most changing words overall</h2>\n<ol>'+html_total+'</ol></div>',
		      type: 'inline'
		  }
		});

		$('.popup_rank_period1').magnificPopup({
		  items: {
		      src: '<div class="popup-content"><h2>Most changing words for eC19 to lC19</h2>\n<ol>'+html_total_period1+'</ol></div>',
		      type: 'inline'
		  }
		});

		$('.popup_rank_period2').magnificPopup({
		  items: {
		      src: '<div class="popup-content"><h2>Most changing words for lC19 to eC20</h2>\n<ol>'+html_total_period2+'</ol></div>',
		      type: 'inline'
		  }
		});

		$('.popup_rank_period3').magnificPopup({
		  items: {
		      src: '<div class="popup-content"><h2>Most changing words for eC20 to lC20</h2>\n<ol>'+html_total_period3+'</ol></div>',
		      type: 'inline'
		  }
		});
	});


}

</script>
