{% extends "base.html" %}
{% block content %}
<center>
<input id="analyze_word" type="textbox" name="word" value="{{word}}" />
<!-- <textarea id="analyze_word" cols="80" rows="3" name="word" value="{{word}}"></textarea> -->
<input type='submit' id='analyze_word_button' value='Analyze word'></input>

<div id="command_bar"></div>


<div id="corpus_desc"></div>


{% include "word_desc.html" %}
{% include "linegraph_v3_spaces.html" %}
{% include "slopegraph.html" %}
{% include "linegraph_v3.html" %}
{% include "field_desc.html" %}
{% include "custom_spaces.html" %}







<script type="text/javascript">
function clear_viz() {
			$("#data_view").html("");
			$('#linegraph_spaces').html("");
			$('#linegraph').html("");
			$('#slopegraph').html("");
			$('#spaces_custom_viz').html("");
}


function split_words(_words) {
	_words_l0 = _words.split(',')
	_words_l = []
	for(wii=0; wii<_words_l0.length; wii++) {
		_words_l.push(_words_l0[wii].trim());
	}
	// console.log('split_words',_words,_words_l);
	return _words_l;
}

function desc_neighb(_word,_period) {
	$.getJSON('/static/data/db/neighborhoods/COHA_30yr/'+_word+'.json', function(json) {
		//_period=_period.toString() + '-' + (parseInt(_period) + 30).toString()
		////console.log(json);
		////console.log(_period, json[_period] );
		for (pwi=0; pwi<json.length; pwi++) {
			period=json[pwi][0];
			pwords=json[pwi][1];

			pstr1 = pwords.slice(0,5).join(", ")
			pstr2 = pwords.slice(5,10).join(", ")
			pstr3 = pwords.slice(10,15).join(", ")

			if (period.startsWith(_period.toString())) {
				////console.log(period,_period,pwords);
				//return pwords;

				d3v4.selectAll('.neighb_window').remove();

				svg.append("text")
						.attr("transform",
									"translate(" + ((width/2) - 200) + " ," +
																 (height + margin.top - 25 ) + ")")
						.style("text-anchor", "left")
						.attr('class','neighb_window')
						.style('text-align', 'left')
						.attr('fill',color)
						.text(pstr3);

				svg.append("text")
						.attr("transform",
									"translate(" + ((width/2) - 200) + " ," +
																 (height + margin.top - 50 ) + ")")
						.style("text-anchor", "left")
						.attr('class','neighb_window')
						.style('text-align', 'left')
						.attr('fill',color)
						.text(pstr2);

						svg.append("text")
								.attr("transform",
											"translate(" + ((width/2) - 200) + " ," +
																		 (height + margin.top - 75 ) + ")")
								.style("text-anchor", "left")
								.attr('class','neighb_window')
								.style('text-align', 'left')
								.attr('fill',color)
								.text(pstr1);

						svg.append("text")
								.attr("transform",
											"translate(" + ((width/2) - 200) + " ," +
																		 (height + margin.top - 100 ) + ")")
								.style("text-anchor", "left")
								.attr('class','neighb_window')
								.text(_word +"("+period+")")
								.style('text-align', 'left')
								.attr('fill',color)
								.attr('style','font-weight: bold;');
			}
		}
	});
}

function average_vecs(WordVecs) {
	WordVecAvgs=[];
	for(col_i=0;col_i<WordVecs[0].length;col_i++) {
		ColScores=[]
		 for(row_i=0;row_i<WordVecs.length;row_i++) {
			 ColScores.push(WordVecs[row_i][col_i]);
		 }
		ColMean = nj.array(ColScores).mean();
		WordVecAvgs.push(ColMean);
	 }
	return WordVecAvgs;
}

function get_spacetype() { res=localStorage.getItem('space_type'); if(res){return res;}else{return 'average';} }

function get_word() {
	current_word_form_in_input_bar = $('#analyze_word').val();
	localStorage.setItem('words',current_word_form_in_input_bar);
	return current_word_form_in_input_bar;
}

function use_all_periods() { return (get_spacetype()!='average') }

function set_to_averages() {
	localStorage.setItem('space_type','average');
	analyze_word(subpage=get_cmd(), space_type='average');
}

function set_to_movements() {
	localStorage.setItem('space_type','movement');
	analyze_word(subpage=get_cmd(), space_type='movement');
}




function expand_words(word,k=2) {
	word = $('#analyze_word').val();
 words = word.split(',');
 var new_words = [];
 for (i=0; i<words.length; i++) {

	 word=words[i].trim()
	$.getJSON("/static/data/db/neighborhoods/COHA_30yr/"+word+".json", function(data) {
		console.log('data',data);
		neighb = data[data.length-1][1];
		console.log('neighb',neighb);
		//neighb_words = neighb.split(', ')
		k_sofar=0;

				for (nwi = 0; nwi<neighb.length; nwi++) {
					if (k_sofar >= k) { break; }

					nw=neighb[nwi].split(" (")[0].replace("+","");

					if ((words.includes(nw) == false) & (new_words.includes(nw) == false)) {
						console.log('!',nw);
						new_words.push(nw);

						word_str = $('#analyze_word').val();
						if (word_str) { word_str += ","+nw; } else { word_str=nw; }
						$('#analyze_word').val(word_str);

						k_sofar+=1;
					}
				}

		});
	}
	//$('#analyze_word').enter();


}


function get_desc(word=undefined,do_ranks=false) {
	// $("#data_view").html("<div id='command_bar'>"+cmd_bar+"</div><div id='word_bar'>");

	if (do_ranks!=false) {
		if (word==undefined) { var word=get_word(); }
		words=split_words(word)
		for(w_i=0; w_i<words.length; w_i++) {
			describe_word(words[w_i].trim());
		}
		$("#data_view").html($("#data_view").html() + "</div>");
	}
}



	function get_ranks(words,clear=true,redirect=true,origin_id=false,popup=false) {

		if (popup ==true) {
			var clear=false;
			var redirect=false;
		} else {
			var clear = true;
			var redirect=true;
		}
		console.log('redirect',redirect);
		console.log('popup',popup);


		if (redirect==true) { window.history.pushState({state: "dummyState"}, "Title", "/ranks/"+words.replace('#','')); }

		// $('#analyze_word').val(words);

		if (clear==true) { clear_viz(); get_desc(words,do_ranks=true); }




		if (popup == true) {
				// html = ''


				$.magnificPopup.open({
			    items: {
			      src: $('<div class="popup-fullscreen" id="ranks-popup"></div>'),
			      type: 'inline'
			  },
				showCloseBtn: true,
				closeBtnInside: true,


				callbacks: {
			  open: function() {
					// console.log('called back!', $('#ranks-popup').html());
					$('#slopegraph').html("")

					console.log(words);
					try {
						words = words.split(',');
					} catch(TypeError) {
						words = words
					}
					for(w_i=0; w_i<words.length; w_i++) { console.log('cback',words[w_i]); make_slopegraph(words[w_i].trim(),silent=false); }


					// $('#ranks-popup').html("");
					$('#ranks-popup').html('<div>' + $('#slopegraph').html() + '</div>');

					console.log('called back!', $('#ranks-popup').html(),  'slopegraph:', $('#slopegraph').html());

					$('#slopegraph').hide();

			    // $('#slopegraph').appendTo('.ranks-popup');
					// $('#slopegraph').show();
			    // console.log(item); // Do whatever you want with "item" object
			  }
			}
		});


	} else {

		words = words.split(',')
		for(w_i=0; w_i<words.length; w_i++) { make_slopegraph(words[w_i].trim(),silent=false); }
	}
}




function get_cmd() {
	cmd = window.location.href.split('/')[3];
	// console.log(cmd);
	return cmd;
}

function resize_spaces(width) {
	$('#spaces_width').val(width);
	$('#spaces_height').val(width);
	//$('#analyze_word').enter();
	// console.log('resizing...', get_cmd(), width);
	analyze_word(); //$('#analyze_word').val(), subpage=get_cmd() );


}




		function get_spaces(words,clear=true,redirect=true,all_periods=undefined) {
			words=$('#analyze_word').val();

			if (redirect==true) { window.history.pushState({state: "dummyState"}, "Title", "/spaces/"+words); }



			//words);

			if (clear==true) { clear_viz();  get_desc(words,do_ranks=false); }

			$('#linegraph_spaces').html("<div id='linegraph_spaces' style='margin-top: 50px;'>"+spaces_header_html+"<div class='spaces' id='spaces_Panel1'></div> <div class='spaces' id='spaces_Panel2'></div> <div class='spaces' id='spaces_Panel3'></div> <div class='spaces' id='spaces_Panel4'></div>");
			// $('#linegraph').html("");
			// $('#slopegraph').html("");

			//words = words.split(',')
			//for(w_i=0; w_i<words.length; w_i++) { make_slopegraph(words[w_i].trim());}
			// make_linegraph_spaces(words,y_col = "umap_V2", x_col = "umap_V1",div_id="Panel4",y_min=-6,y_max=6,x_min=-6,x_max=6);
			// make_linegraph_spaces(words,y_col = "umap_V2", x_col = "umap_V1",div_id="UMAP",y_min=-6,y_max=6,x_min=-6,x_max=6);

			// make_linegraph_spaces(words,y_col = "umap_V2", x_col = "umap_V1",div_id="UMAP",y_min=-2,y_max=2,x_min=-2,x_max=2);

			// make_linegraph_spaces(words,y_col = "umap_V4", x_col = "umap_V3",div_id="UMAPP",y_min=-4,y_max=4,x_min=-4,x_max=4);



			// make_linegraph_spaces(words,y_col = "Tangible (MT) <> Intangible (MT)", x_col = "Vice (HGI) <> Virtue (HGI)",div_id="ABSCONC",x_min=-0.55, x_max=0.55, y_min=-0.55, y_max=0.55);

			console.log(localStorage.getItem('spaceType'));
			all_periods = localStorage.getItem('space_type')!='average';

			make_linegraph_spaces(words,
			y_col = "Tangible (MT) <> Intangible (MT)",
			// y_col = 'Concrete (Consolidated) <> Abstract (Consolidated)',

			x_col = "Negative (HGI) <> Positive (HGI)",
			// x_col = "Vice (HGI) <> Virtue (HGI)",
			div_id="Panel1", x_min=-4, x_max=4,y_min=-4,
			 y_max=4, sp_title="Abstraction vs. judgment",
			 y_col_name = "<< Concrete | Abstract >>",
			 x_col_name = "<< Negative | Positive >>",all_periods=all_periods); //,x_min=-0.45, x_max=0.45, y_min=-0.45, y_max=0.45);

			// make_linegraph_spaces(words,y_col = 'Object (VG2) <> Human (VG2)', x_col = "Weak (HGI) <> Strong (HGI)",div_id="Panel4", x_min=-4, x_max=4,y_min=-4, y_mx=4, sp_title="Animacy vs. strength");

			make_linegraph_spaces(words,y_col = "Weak (HGI) <> Strong (HGI)",x_col = 'Submit (HGI) <> Power (HGI)', div_id="Panel4", x_min=-4, x_max=4,y_min=-4, y_mx=4, sp_title="Charles Osgood's semantic dimensions",y_col_name='<< Vulnerable | Powerful >>',x_col_name='<< Submission | Domination >>',all_periods=all_periods);


			// make_linegraph_spaces(words,y_col = 'Object (VG2) <> Human (VG2)', x_col = "Animal (VG2) <> Human (VG2)", div_id="Panel3", x_min=-4, x_max=4,y_min=-4, y_mx=4);


			make_linegraph_spaces(words,y_col = "Objective (Abs-Cluster) <> Subjective (Abs-Cluster)", x_col = "Passive (HGI) <> Active (HGI)",div_id="Panel2", x_min=-4, x_max=4,y_min=-4, y_mx=4, sp_title="Objectivity vs. passivity",y_col_name='<< Objective | Subjective >>',x_col_name="<< Passive | Active >>",all_periods=all_periods); //,x_min=-0.45, x_max=0.45, y_min=-0.45, y_max=0.45);


			// make_linegraph_spaces(words,y_col = 'Object (VG2) <> Human (VG2)', x_col = "Female (HGI) <> Male (HGI)",div_id="Panel2", x_min=-7, x_max=7,y_min=-4.5, y_mx=4.5);


			// make_linegraph_spaces(words,y_col = 'Negative (HGI) <> Positive (HGI)', x_col = "Objective (Abs-Cluster) <> Subjective (Abs-Cluster)",div_id="ANISTYLE", x_min=-0.4, x_max=0.4,y_min=-0.4, y_max=0.4);

			make_linegraph_spaces(words,y_col = 'Object (VG2) <> Human (VG2)', x_col = "Female (HGI) <> Male (HGI)",div_id="Panel3", x_min=-7, x_max=7,y_min=-4, y_mx=4, sp_title="Animacy vs. gender",y_col_name = '<< Thing | Person >>',x_col_name='<< Female | Male >>',all_periods=all_periods);
//
// make_linegraph_spaces(words,y_col = 'Weak (HGI) <> Strong (HGI)', x_col = "Female (HGI) <> Male (HGI)",div_id="Panel3", x_min=-7, x_max=7,y_min=-4, y_mx=4);

//

			// make_linegraph_spaces(words,y_col = 'Passive (HGI) <> Active (HGI)', x_col = "Weak (HGI) <> Strong (HGI)",div_id="Panel3", x_min=-4, x_max=4,y_min=-4, y_mx=4);



			// make_linegraph_spaces(words,y_col = 'Objective (Abs-Cluster) <> Subjective (Abs-Cluster)', x_col = "Pre-Norman (TU&JS) <> Post-Norman (TU&JS)",div_id="Panel4", x_min=-4, x_max=4,y_min=-4, y_mx=4);
			// make_linegraph_spaces(words,y_col = 'Pre-Norman (TU&JS) <> Post-Norman (TU&JS)', x_col = "Tangible (MT) <> Intangible (MT)",div_id="Panel4", x_min=-5, x_max=4,y_min=-4, y_mx=4);

			// make_linegraph_spaces(words,y_col = 'Object (VG2) <> Human (VG2)', x_col ='Objective (Abs-Cluster) <> Subjective (Abs-Cluster)',div_id="Panel4", x_min=-4, x_max=4,y_min=-4.5, y_mx=4.5);
			//


		}

		function get_all(wordstr,redirect=true,clear=true) {
			if (redirect==true) { window.history.pushState({state: "dummyState"}, "Title", "/word/"+wordstr); }
			// $('#analyze_word').val(wordstr);
			if (clear==true) { clear_viz();  get_desc(wordstr,do_ranks=false); }
			get_spaces(wordstr,clear=false,redirect=false);
			// get_ranks(wordstr,clear=false,redirect=false);

			x
			//
			// //words = words.split(',')
			// //for(w_i=0; w_i<words.length; w_i++) { make_slopegraph(words[w_i].trim());}
			// make_linegraph_spaces(wordstr,y_col = "umap_V2", x_col = "umap_V1",div_id="UMAP",y_min=-6,y_max=6,x_min=-6,x_max=6);
			// make_linegraph_spaces(words,y_col = "Tangible (MT) <> Intangible (MT)", x_col = "Vice (HGI) <> Virtue (HGI)",div_id="ABSCONC");

			// words = wordstr.split(',')
			// for(w_i=0; w_i<words.length; w_i++) { make_slopegraph(words[w_i].trim());}

	}



$('#analyze_word_button').click(function() {
	analyze_word();
});

$('#analyze_word').bind("enterKey",function(e){
	analyze_word();
});
$('#analyze_word').keyup(function(e){
    if(e.keyCode == 13)
    {
        $(this).trigger("enterKey");
    }
});

function sleep(milliseconds) {
  const date = Date.now();
  let currentDate = null;
  do {
    currentDate = Date.now();
  } while (currentDate - date < milliseconds);
}

function get_corpus(corpus) {
	$.magnificPopup.open({
  	type: 'ajax',
		items: { src: '/corpus_coha' },
		showCloseBtn: true,
		closeBtnInside: true
	});
}

function close_popups() {
	$.magnificPopup.close();
}

function show_cmd_bar(word) {

		cmd_bar = "<h3><b>View</b>: <a href='#' onclick='analyze_word(subpage=\"ranks\")'>Ranks</a> | ";
		cmd_bar += "<a href='#' onclick='analyze_word(subpage=\"spaces\")'>Key Spaces</a>" //" (<a href='#' onclick='get_spaces(\""+word+"\",clear=true,redirect=true,all_periods=true)'>change</a>/<a href='#' onclick='get_spaces(\""+word+"\",clear=true,redirect=true,all_periods=false)'>average</a>)" // | <a href='#' onclick='get_all(\""+word+"\")'>Both</a>";
		cmd_bar += ' | <a href="#" onclick="analyze_word(subpage=\'custom\')">Custom Space</a>';

	// 	cmd_bar +='<h4><b>Toggle:</b> '
	// 		// cmd_bar += "<a href='#' onclick='get_spaces(\""+word+"\",clear=false,redirect=false,all_periods=true)'>Movements</a> | <a href='#' onclick='get_spaces(\""+word+"\",clear=false,redirect=false,all_periods=false)'>Averages</a>"
	//
	// cmd_bar += "<a href='#' onclick='set_to_movements()'>Movements</a> | <a href='#' onclick='set_to_averages()'>Averages</a>"
	//
	// 	// cmd_bar += "<a href='#' onclick='get_spaces(\""+word+"\",clear=true,redirect=true,all_periods=true)'>Movements</a> | <a href='#' onclick='get_spaces(\""+word+"\",clear=true,redirect=true,all_periods=false)'>Averages</a>"
	// 	// cmd_bar += ' | <a href="#" onclick="custom_spaces()">Custom</a>';
		cmd_bar += ' | <a href="#" onclick="expand_words(\''+word+'\')">Expand words</a>';
		cmd_bar +='</h3>'
	// 	cmd_bar +='</h4>'

		$('#command_bar').html(cmd_bar);
}

// function analyze_word(word = undefined, subpage = undefined, space_type='average') {
function analyze_word(subpage = undefined, space_type='average') {
	// get word input
	word = get_word();

	console.log('analyze_word',word,subpage,space_type);

	clear_viz();
	space_type = get_spacetype();

	//console.log('space_type',space_type);

	$.magnificPopup.close();

	// if (word==undefined) { var word=get_word(); }
	console.log('word::::',word);

	show_cmd_bar(word);

	if (subpage==undefined | subpage=="") { subpage = get_cmd(); }

	words = word.split(',');

	if (subpage==undefined) { var subpage=get_cmd(); }
	//console.log(subpage,'-->',word);


		all_periods = use_all_periods()
		// console.log('all_periods',all_periods);
		if (subpage == "spaces") {
			$('#custom_spaces').hide();
			get_spaces(word, all_periods=all_periods);

		} else if (subpage == "ranks") {
			$('#custom_spaces').hide();
			get_ranks(word,popup=false);

		} else if (subpage == "custom") {
			$('#custom_spaces').show();
			custom_spaces(word,all_periods=all_periods);

		} else {
			$('#custom_spaces').hide();
			get_all(word);
	  }

}

$(document).ready(function() {


	console.log(localStorage);

	console.log(get_cmd());

	//stored_words=localStorage.getItem('words');
	//console.log('stored',stored_words);
	//if (stored_words!=undefined) { $('#analyze_word').val(stored_words); }
	$('#x_vec').val(localStorage.getItem('x_vec'));
	$('#y_vec').val(localStorage.getItem('y_vec'));
	$('#space_type').val(localStorage.getItem('space_type'));
	// space_type=localStorage.getItem('space_type')

	var word = $('#analyze_word').val();
	var space_type=$('#space_type').val()

	if (word != "" & word!= undefined) {
		analyze_word(word, subpage="{{subpage}}",space_type=space_type);
	} else {
		analyze_word("data,industry,anxiety,hair",subpage="{{subpage}}",space_type=space_type);
	}

});


//analyze_word('data');
</script>





</center>

<style type="text/csss">
	.s-title { color: "black"; }
</style>


{% endblock %}
