{% extends "base.html" %}
{% block content %}
<center>
<input id="analyze_word" type="textbox" name="word" value="{{word}}">
<input type='submit' id='analyze_word_button' value='Analyze word'></input>

<div id="corpus_desc"></div>

<div id="data_view"></div>

{% include "word_desc.html" %}


{% include "slopegraph.html" %}



{% include "linegraph_v3.html" %}


<script type="text/javascript">
$('#analyze_word_button').click(function() {
	var word = $('#analyze_word').val();
	analyze_word(word);
});

$('#analyze_word').bind("enterKey",function(e){
	var word = $('#analyze_word').val();
 	analyze_word(word);
});
$('#analyze_word').keyup(function(e){
    if(e.keyCode == 13)
    {
        $(this).trigger("enterKey");
    }
});

function sleep(milliseconds) {
  const date = Date.now();
  let currentDate = null;
  do {
    currentDate = Date.now();
  } while (currentDate - date < milliseconds);
}

function analyze_word(word) {
	$.magnificPopup.close();
	describe_word(word);
	make_slopegraph(word);
	make_linegraph(word);
}

$(document).ready(function() {
	var word = $('#analyze_word').val();
	if (word != "" & word!= undefined) {
		analyze_word(word);
	}
});


//analyze_word('data');
</script>





</center>
{% endblock %}
